:root{
    --branco: rgb(207, 207, 207);
    --preto: #000000;
    --azul-escuro:#070915;
    --cinza-descricao: #6d6d6d;
    --azul-destaque:#0d1023;
    --azul-nav-destaque: #272d58;
    --cinza-git:#2B414D ;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

p {
    line-height: 1.4;
}

.conteiner{
    padding-left: 8%;
    padding-right: 8%;
}
