:root{
    --branco: rgb(207, 207, 207);
    --preto: #000000;
    --azul-escuro:#070915;
    --cinza-descricao: #6d6d6d;
    --azul-destaque:#141b48;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

p {
    line-height: 1.4;
}

.conteiner{
    padding-left: 8%;
    padding-right: 8%;
}

img{
    width: 60px;
}

.bnt__fixed{
    position: fixed;
    bottom: 30px;
    right: 30px;
    visibility: hidden;
}

.bnt__fixed.visible{
    visibility: visible;

    background-color: #CFCFCF;

    border: 3px solid #CFCFCF;

    border-radius: 50px;
}
