.botao__topo{
    width: 60px;
}

.bnt__fixed{
    position: fixed;
    bottom: 30px;
    right: 30px;
    visibility: hidden;
}

.bnt__fixed.visible{
    visibility: visible;

    background-color: var(--cinza-git);

    border: 3px solid var(--cinza-git);

    border-radius: 50px;
}