.cabecalho{
    background-color: var(--azul-escuro);

    display: flex;

    justify-content: space-between;

    padding: 2%;
}

.cabecalho__caixa{
    display: inline-flex;
    flex-flow: row wrap;

    justify-content: space-between;

    width: 300px;

    max-width: 300px;

    padding: 0px 0px 0px 5px;
}

.cabecalho__hamburguer{
    color: var(--branco);

    text-align: right;
}

.cabecalho__Icone-hamburguer{
    width: 35px;

    padding: 10px 25px;

    cursor: pointer;
}

.cabecalho__titulo{
    font-size: 26px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;

    margin-top: auto;
    margin-bottom: auto;

    color: var(--branco);

    

}

.cabecalho__lista{
    text-align: center;

    font-weight: 300;
}



.cabecalho__lista-item{
    display: inline-block;
    text-align: center;

    color: var(--branco);
    width: 10%;
    font-size: 18px;
}

@media screen and (max-width: 400px){
    .cabecalho__titulo{
        font-size: 22px;
    
        padding: 7% 0% 7% 1%;
    }
}