.contato{
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;

    background-color: var(--branco);

}

.contato__titulo{
    text-align: center;

    font-family: 'Roboto Condensed', sans-serif;

    font-size: 24px;
    font-weight: 700;
}

.contato__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contato__lista-item{
    max-width: 350px;

    box-sizing: border-box;

    background-repeat: no-repeat;
    background-position: top 5.1rem left 1.5rem;

    padding: 6rem 0 2rem 5rem;

    font-weight: 700;
}

.contato__lista-instagram{
    background-image: url(../imagens/icone-instagram.svg);
}

.contato__lista-linkedin{
    background-image: url(../imagens/icone-linkedin.svg);
}

.contato__descricao{
    text-align: center;

    font-size: 16px;
    font-weight: 400;

    padding: 8%;
}

.contato__pessoal{
    text-align: center;

    font-size: 16px;
    font-weight: 400;
}

.contato__pessoal-descricao{
    padding: 40px 0;

    font-size: 18px;
    font-weight: 700;
}

@media screen and (min-width:610px) {
    .contato{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media screen and (min-width:1024px) {
    .contato__redes-sociais{
        display: block;

        justify-content: center;
        align-items: center;

        margin-left: auto;
        margin-right: auto;

        max-width: 802px;
    }

    .contato__lista-item{

        background-position: top 3.1rem left 1.5rem;
        
        padding: 4rem 0 4rem 5rem;
    }

    .contato__descricao{
        text-align: center;
    
        font-size: 16px;
        font-weight: 400;
    
        padding: 3%;
    }
}