.ferramentas{
    background-color: var(--azul-escuro);
    
    color: var(--cinza-descricao);

    padding: 0%;
}

.ferramentas__titulo{
    text-align: center;
    
    padding: 10% 0;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 700;

    color: var(--branco);
}

.ferramentas__lista{
    padding: 0px 40px;
    
    display: block;

    font-weight: 300;
}

.ferramentas__lista-imagem{
    width: 25%;
}

.ferramentas__lista-item{
    display: flex;

    text-align: center;

    padding: 13% 0;

    max-width: 547px;
    
}

.ferramentas__descricao{
    padding: 5% 1%;

    font-style: italic;
}

@media screen and (min-width: 610px) {
    
    .ferramentas__titulo{
        padding: 5% 0%;
    }

    .ferramentas__lista{
        display: flex;
        flex-flow: row wrap;

        justify-content: center;
        align-items: center;

        padding: 0px 10px;
    }

    .ferramentas__lista-item{
        
        width: 35%;

        padding: 2% 7%;
        
    }

    .ferramentas__lista-imagem{
        width: 86px;
    } 

    .ferramentas__descricao{
        padding: 5% 3%;
    }
}

@media screen and (min-width: 1024px) {
    
    .ferramentas__titulo{
        padding: 5% 0%;
    }

    .ferramentas__lista{
        display: flex;
        flex-flow: row wrap;

        justify-content: center;
        align-items: center;
        
    }

    .ferramentas__lista-item{
        
        width: 30%;

        padding: 3% 10%;
        
    }

    .ferramentas__lista-imagem{
        width: 86px;
    } 
    
    .ferramentas__descricao{
        padding: 5% 3%;
    }
    
}