/* The side navigation menu */
.sidenav {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--azul-destaque);
    overflow-x: hidden;
    padding-top: 50px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    }

    .sidenav a {
    text-align: center;
    padding: 4% 0%;
    text-decoration: none;
    font-size: 25px;
    color: #beb8b8;
    display: block;
    }

    .sidenav a:hover {
    color: var(--azul-nav-destaque);
    }

    .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }

    @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }

    .voltarInicio{

        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        border-radius: 12px;
        margin: auto    ;
        margin-top: 5%;
        width: 200px;
        font-size:4ch;
        background-color: rgb(177, 177, 177);
        font-family: Arial, Helvetica, sans-serif;
        transition: 1s;

    }

    .voltarInicio:hover{
        width: 270px;
    }

@media screen and (min-width: 610px){

    .sidenav {
        width: 45%;
    }

}

@media screen and (min-width: 1024px){

    .sidenav {
        width: 25%;
        left: unset;
        right: 0;
    }

    .sidenav .closebtn {
        right: unset;
        left: 15px;
    }
    
}