.projetos{
    background-color: var(--azul-escuro);

    padding: 0%;

    color: var(--branco);
    
}

.projetos__titulo{
    text-align: center;
    
    padding: 10% 0;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 700;

    color: var(--branco);
}

.projetos__lista{
    display: block;
    
}

.projetos__lista-item{
    font-size: 18px;

}

.projetos__nome{
    text-align: center;

    padding: 10% 0% 1% 0%;
}

.projeto__caixa{

    display: block;
    margin-left: auto;
    margin-right: auto;

    max-width: 1000px;

    padding: 5% 4%;
}

.projetos__descricao{
    color: var(--cinza-descricao);

    text-align: left;

    padding: 2% 5%;
}

.projetos__link{}

.projetos__seta{
    float: left;
    width: 5rem;
}


@media screen and (min-width: 1024px){
    .projetos{
        padding: 2% 0%;
    }

    .projetos__titulo{
        
        padding: 5% 0% 2% 0%;
    }

    .projetos__lista-item div{
        display: flex;
    
        padding: 2% 10%;
    }

    .projetos__nome{
        padding: 5% 0% 0% 0%;
    }
}