.sobre{
    background-color: var(--azul-escuro);

    padding: 10%;

    display: flex;

    justify-content: center;
    align-items: center;

}

/*Animação Texto sendo Digitando*/

  .sobre__titulo-animacao{
    
    color: white;

    display:flex;
    align-items:center;
    justify-content: center;

  }

  .sobre__titulo{
    text-align: center;
    
    padding: 4% 0;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 700;

    color: var(--branco);
}

  .sobre__titulo:after{
   content: '';
    display: inline-block;
    background-color: white;
    margin-left: 2px;
    height: 25px;
    width: 4px;
    animation: cursor 0.4s infinite;
  }

  /* The typewriter cursor effect */
  @keyframes cursor {
    0% { opacity: 1; }
      49% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 0; }
  }
/*-----------------------*/

.sobre__caixa{

    max-width: 900px;

    padding: 2%;

    background-color: var(--azul-destaque);
    
    border-radius: 8px 8px 8px 8px;
}

.sobre__imagem{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 200px;

    border-radius: 200px;
}

.sobre__descricao{
    font-size: 18px;
    font-family: var(--poppins);
    font-weight: 300;

    text-align: left;

   justify-content: center;

    color: var(--cinza-descricao);
}

@media screen and (max-width: 400px){
  .sobre__titulo{
      font-size: 22px;
  }
}

@media screen and (min-width: 1024px){

    .sobre__descricao{
        padding: 0px 0px 0px 20px;

    }

    .sobre__descricao{
        width: 600px;
        float: right
    }

    .descrição__caixa{
      display: flex;
      align-items: center;
    }

}